<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FlowerShopDb" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=FlowerShopDb;Integrated Security=true;Trust Server Certificate=true;" />
  </connectionStrings>

  <appSettings>
    <add key="EfCommandTimeoutSeconds" value="30" />
    <add key="EfEnableDetailedErrors" value="true" />
  </appSettings>
</configuration>

